/EjerciciosPOO/build/
/EjerciciosPOO/dist/
/Sensor_temperatura/build/
/Sensor_temperatura/nbproject/private/
/Sensor_movimiento/build/
/Control_luces/nbproject/private/
/Control_luces/build/
/Aire_acondicionado/nbproject/private/
/Aire_acondicionado/build/
